header {
    background: #292f4c;
    border-bottom: 2px solid white;
    color: white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
    background-color: #333333;
}

nav a.active {
    /* color: darkblue; */
    font-weight: bold;
    text-decoration: overline;
}