.todo-preview {
    list-style: none;
}

.todo-item {
    display: grid;
    grid-template-columns: 1fr 1fr 7fr 4fr;
    border-bottom: 1px solid rgba(128, 128, 128, 0.614);
    border-left: 1px solid rgba(128, 128, 128, 0.614);
    color: rgb(62, 59, 59);
    line-height: 36px;
}

.todo-list-header {
    border: 1px solid rgba(128, 128, 128, 0.614);
    color: rgb(62, 59, 59);
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    padding: 10px 0px;
    border-radius:10px 0px 0px 0px ;
}

.remove-todo {
    color: rgb(62, 59, 59);
    /* position: relative;
    top: -30px;
    left: 10px; */
    background-color: #fff;
    border: none;
    font-size: 1.1em;
    font-family: inherit;
}