.todo-active{
    background-color: #fdab3d;
}

.todo-done{
    background-color:  #03c875;
}

.todo-status{
    text-align: center;
    color: white;
    line-height: 36px;
}

.checkbox{
    height: 1.5em;
    vertical-align: middle;
    margin-top:8px;
}

.todo-txt-done{
    text-decoration: line-through;
}